/* resources/css/app.css */

/* Core CSS Assets from node_modules */
/* @import "bootstrap/dist/css/bootstrap.min.css"; */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "admin-lte/dist/css/adminlte.min.css";

/* Your custom CSS can go here */
.dropdown-toggle::after {
    display: inline-block; /* Penting agar bisa terlihat */
    margin-left: 0.255em; /* Memberi sedikit jarak dari teks */
    vertical-align: 0.255em; /* Menyelaraskan secara vertikal */
    content: ""; /* Penting untuk pseudo-elemen */
    border-top: 0.3em solid; /* Bagian atas segitiga */
    border-right: 0.3em solid transparent; /* Sisi kanan transparan */
    border-bottom: 0; /* Tidak ada border bawah */
    border-left: 0.3em solid transparent; /* Sisi kiri transparan */
}

.table {
    table-layout: auto;
    width: 100%;
}

.table .form-control {
    min-width: 250px;
}

.col-min-width {
    width: 1%;
    white-space: nowrap;
}

.detail-row-header {
    padding-bottom: 15px;
    border-bottom: 1px solid darkgrey;
}
.detail-row-header > * {
    text-align: center;
}

.detail-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item .form-control {
    width: 90% !important;
}

/* .my-input-group .form-control,
.my-input-group .form-control-sm {
  margin-bottom: 15px;
} */

/* Custom CSS for Product Detail Page */
/* Styling lingkaran untuk tombol prev/next di modal */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 40% 40%;
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

.img-carousel {
  max-width: 100%;
  max-height: 60vh;   /* supaya tidak lebih tinggi dari layar */
  object-fit: contain; 
  margin: auto;        /* selalu center */
  display: block;
}

.square-box {
  max-width: 100px;
  height: 100px;
  border: 1px dashed #000;
  /* margin: 5px; */
}

.carousel-indicators.bulat li {
  width: 12px;
  height: 12px;
  border-radius: 50%;   /* bikin jadi bulat */
  background-color: #ccc; /* warna default */
}

.carousel-indicators .active {
  background-color: #555; /* warna saat aktif */
}